
# This file specifies server-script configuration for this project
# To set up your login, see the secrets.cson file in this folder
# If you cannot see secrets.cson in Atom, click on the treeview and press the letter i

server:
  location: 'http://example.com:1234'
  projectRoot: '/home/me/myProject/'
  # see note above about login info

options:
  syncChangedFiles: yes
  useGitignore: yes
  scriptsRunOnSave: ['build.sh']
  scriptsRunOnCommand: ['build.sh']  
  