
# This file specifies server-script configuration for this project
# If you cannot see secrets.cson in Atom, click on the treeview and press the letter i

server:
  location: ''
  projectRoot: ''
  # login info is kept in secrets.cson

options:
  syncChangedFiles: no
  scriptOnRun:  '' # use 'build.sh' for testing
  scriptOnSave: '' 
  useGitignore: yes
  logToConsole: yes
  