
# This file specifies server-script configuration for this project
# If you cannot see secrets.cson in Atom, click on the treeview and press the letter i
# scripts listed below should be in this folder

server:
  location: 'example.com'
  projectRoot: '/home/me/myProject/'
  # to setup login, see the secrets.cson file in this folder

options:
  syncChangedFiles: yes
  useGitignore: yes
  scriptsRunOnSave: ['build.sh']
  scriptsRunOnCommand: ['build.sh']  
  